body{

    
    background-color: gray;
   
}

aside{

    float: left;




}

.logos{
display: flex;
flex-direction: column;
background-color: #064d3f;
color: white;

}

.autorzy{

    background-color: #b2dfda;


}

img{

    width: 50px;
    height: 50px;

}